{% extends "::base.html.twig" %}

{% block title %}list4{% endblock %}



{% block body %}
<h1>list4</h1>
<form action="{{ path('list4') }}" method="post" {{ form_enctype(form) }} novalidate name="list4" id="list4">

    {{ pdp_pager_hidden_render(pager) }}

    <div class="search_box">
        {{ form_widget(form.search) }}
        <input type="submit" value="検索">
    </div>

    <table>
        <thead>
        {{ pdp_pager_column_render(pager) }}
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.namekana }}</td>
                <td>{{ entity.created|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pdp_pager_selector_render(pager) }}
    {{ pdp_pager_pagesize_render(pager) }}

</form>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[

        //]]>
    </script>
{% endblock %}
