{% extends "::base.html.twig" %}

{% block title %}list5{% endblock %}



{% block body %}
<h1>list5</h1>
<form action="{{ path('list5') }}" method="post" {{ form_enctype(form) }} novalidate name="list5" id="list5">

    <h2>SystemUser</h2>
    <div id="list">
        {{ pdp_pager_hidden_render(pager) }}

        <div class="search_box">
            {{ form_widget(form.search) }}
            <input type="submit" value="検索">
            <button type="button" id="search_reset">検索条件解除</button>
        </div>

        <table>
            <thead>
            {{ pdp_pager_column_render(pager) }}
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.namekana }}</td>
                    <td>{{ entity.created|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pdp_pager_selector_render(pager) }}
        {{ pdp_pager_pagesize_render(pager) }}
    </div>

    <h2>SystemUser2</h2>
    <div id="list2">
        {{ pdp_pager_hidden_render(pager2) }}

        <div class="search_box">
            {{ form_widget(form.search2) }}
            <input type="submit" value="検索">
        </div>

        <table>
            <thead>
            {{ pdp_pager_column_render(pager2, 'pingdecopongSampleBundle:Pager:column.html.twig') }}
            </thead>
            <tbody>
            {% for entity2 in entities2 %}
                <tr>
                    <td>{{ entity2.id }}</td>
                    <td>{{ entity2.name }}</td>
                    <td>{{ entity2.namekana }}</td>
                    <td>{{ entity2.created|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pdp_pager_selector_render(pager2) }}
        {{ pdp_pager_pagesize_render(pager2) }}
    </div>

</form>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[
        $('#search_reset').click(function(){
            location.href = "{{ path('list5') }}";
        });
        //]]>
    </script>
{% endblock %}
