{% extends "::base.html.twig" %}

{% block title %}シングルページャータイプ{% endblock %}



{% block body %}
<h1>シングルページャータイプ</h1>
<form action="{{ path('list2') }}" method="get" {{ form_enctype(form) }} novalidate name="list2" id="list2">

    {{ pdp_pager_hidden_render(pager) }}

    <table>
        <thead>
            <tr>
                {{ pdp_pager_column_render(pager) }}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pdp_pager_selector_render(pager) }}
    {{ pdp_pager_pagesize_render(pager) }}

    <div>{{ pager.Allcount }}</div>
</form>
{% endblock %}



{% block javascripts %}

{% endblock %}
