{% extends "::base.html.twig" %}

{% block title %}list1{% endblock %}

{% block body %}
<h1>list1</h1>
<form action="{{ path('list1') }}" method="get" {{ form_enctype(form) }} novalidate name="list1" id="list1">

    {{ form_widget(form) }}

    {{ pdp_pager_render() }}

    <table>
        <thead>
        <tr>
            {% for header in column.Rows %}
                <th>

                    {% if header.Enable %}


                        {% if header.sortSelected %}
                            {% if header.SortType == 'asc' %}
                                <a href="#" onclick="changeSortType('{{ header.keyName }}', 'desc')">
                                    {{ header.label }}↓
                                </a>
                            {% elseif header.SortType == 'desc' %}
                                <a href="#" onclick="changeSortType('{{ header.keyName }}', 'asc')">
                                    {{ header.label }}↑
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="#" onclick="changeSortType('{{ header.keyName }}', 'asc')">
                                {{ header.label }}
                            </a>
                        {% endif %}
                    {% else %}
                        {{ header.label }}
                    {% endif %}
                </th>
            {% endfor %}

        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


    <div>
        {% for page in pager.PageNo.Rows %}
            {% if page.select %}
                {{ page.label }}
            {% else %}
                <a href="#" onclick="pagenoClick('{{ page.pageNo }}')">{{ page.label }}</a>
            {% endif %}
        {% endfor %}
    </div>

</form>
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        function pagenoClick(pageno){
            $('#{{ form.pagerselector.pageNo.vars.id }}').val(pageno);
            $('#list1').submit();
        }
        function changeSortType(sortName, sortType){
            $('#{{ form.pagercolumn.sortName.vars.id }}').val(sortName);
            $('#{{ form.pagercolumn.sortType.vars.id }}').val(sortType);
            $('#list1').submit();
        }
        //]]>
    </script>
{% endblock %}
